@model IEnumerable<FoodPlanner.Models.UserPlScheduler.UserPlSchedulers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainMenu.cshtml";
}

<div>

    <div class="card">

        <!-- /.card-header -->
        <div class="card-body">

            <p>
                <a asp-controller="FoodSchedulerTimeStarts" asp-action="Create" class="btn btn-primary btn-sm">Add Time</a>
            </p>



            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{var time = Model.Where(x => x.UserId == ViewBag.userId).Select(x => x.StartTime).ToList();
                    var Id = Model.Where(x => x.UserId == ViewBag.userId).Select(x => x.Id).ToList();
                    }
                   

                        <tr>

                            <td>@time[0]</td>
                           
                        </tr>

                   
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
<!-- /.col -->
@*</div>
        </div>    /.row
    </section>*@
<!-- /.content -->


