@model IEnumerable<FoodPlanner.Models.FoodSchedulerTimeStarts.FoodSchedulerTimeStarts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <div class="card">

        <!-- /.card-header -->
        <div class="card-body">

            <p>
                <a asp-controller="FoodSchedulerTimeStarts" asp-action="Create" class="btn btn-primary btn-sm">Add Time</a>
            </p>



            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Name</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>
<!-- /.col -->
@*</div>
        </div>    /.row
    </section>*@
<!-- /.content -->



<script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
</script>