@model FoodPlanner.Models.UserFoodSelectionCategory.UserSwallowSelection

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    var inguserswallow = (List<FoodPlanner.Models.Swallows.Swallow>)ViewData["userswallow"];
}

<div class="modal-header">

    <h4 class="modal-title">Edit Swallow</h4>


    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4" id="modalBody">
    <div class="row">

        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.UserId)

        <div class="col-md-12">

            <div class="form-group mb-3">
                <label>Swallow</label>
                <select name="grainselect" class="form-control select2bs4" style="width: 100%;" id="UserSwallowId">

                    @foreach (var userSwallowselect in inguserswallow)
                    {
                        <option value="@userSwallowselect.Id">@userSwallowselect.Name</option>

                    }
                </select>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
    <button type="button" id="btnEditSubmit" class="btn btn-info waves-effect waves-light">Update</button>
</div>

