@model FoodPlanner.Models.Swallows.Swallow

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div >

    <h4>Swallow</h4>
    <div class="card card-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-default" />
                            <span><a asp-action="Index">Back to List</a></span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

