@model FoodPlanner.Models.SoupCategory.SwallowSoup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var inggraindishsoup = (List<FoodPlanner.Models.Soups.Soup>)ViewData["graindishsoup"];
    int indGrainDishSoup = (int)ViewData["indGrainDishSoup"];
}

<div >

    <div class="card card-secondary">
        <div class="card-body">
            <div>
                <h4>Swallow Soup</h4>
                <hr />

                <dl class="row">
                    <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.SwallowSoupId)</dt>
                    <dd class="col-sm-8"> @inggraindishsoup[indGrainDishSoup].Name</dd>



                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
