@model FoodPlanner.Models.UserFoodSelectionCategory.UserLightFoodSelection

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    var inguserlightfood = (List<FoodPlanner.Models.LightFood.LightFood>)ViewData["userlightfood"];
}

<div class="modal-header">

    <h4 class="modal-title">Create</h4>


    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4" id="modalBody">
    <div class="row">


        <div class="col-md-12">

            <div class="form-group mb-3">
                <label>Light Food</label>
                <select name="grainselect" class="form-control select2bs4" style="width: 100%;" id="UserLightFoodId">

                    @foreach (var userlightfoodselect in inguserlightfood)
                    {
                        <option value="@userlightfoodselect.Id">@userlightfoodselect.Name</option>

                    }
                </select>
                <input type="hidden" value="@ViewBag.passUserId">

            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
    <button type="button" id="btnAddAbstract" name="Create" class="btn btn-info waves-effect waves-light">Create</button>
</div>


