@model FoodPlanner.Models.UserFoodSelectionCategory.UserLightFoodSelection

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
    var inguserlightfood = (List<FoodPlanner.Models.LightFood.LightFood>)ViewData["userlightfood"];
    int indUserLightFoodSelection = (int)ViewData["indUserLightFoodSelection"];
}

<div class="modal-header">

    <h4 class="modal-title">Edit Document</h4>


    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body p-4" id="modalBody">
    <div>
        <h4>Light Food Dish Soup</h4>
        <hr />

        <dl class="row">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.UserId)
            <dt class="col-sm-4"> @Html.DisplayNameFor(model => model.UserLightFoodId)</dt>
            <dd class="col-sm-8"> @inguserlightfood[indUserLightFoodSelection].Name</dd>



        </dl>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
</div>
