@model FoodPlanner.Models.GrainDishNutrients.GrainDishNutrient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ActionLayout.cshtml";
    var inggraindish = (List<FoodPlanner.Models.GrainDishes.GrainDish>)ViewData["graindish"];
    var karomainIngrdient = (List<FoodPlanner.Models.MainIngredients.MainIngredient>)ViewData["karomainIngredients"];
}

<div >
    <div class="container container-fluid">

        <div class="card" style="background-color:rgba(255, 255, 255, 0.5)">

            <form asp-action="Create">
                <div class="card-header">
                    <h3 class="card-title"></h3>


                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Graindish</label>
                                <select name="grainselect" class="form-control select2bs4" style="width: 100%;">

                                    @foreach (var grainselect in inggraindish)
                                    {
                                        <option value="@grainselect.Id">@grainselect.Name</option>

                                    }
                                </select>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Mainingradient</label>
                                <select name="karoingredient" class="form-control select2bs4" style="width: 100%;">


                                    @foreach (var karoingredient in karomainIngrdient)
                                    {
                                        <option value="@karoingredient.Id">@karoingredient.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <!-- /.col -->

                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Requires Soup</label>
                                <select name="soupRequired" class="form-control select2bs4" style="width: 100%;">

                                    <option value="True">True</option>
                                    <option value="False">False</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </form>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

</div>

